<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body style="margin:100px;">
<form id="info" style="background-color: lightblue;margin: 20px;padding: 20px">
    <h2>Personal Information</h2>
    <div style="background-color: aqua;margin: 10px;padding: 10px">
        Name:{{name}}<br/>
        ID:{{id}}
    </div>
    <div v-if="isGrade" style="background-color: aquamarine;margin: 10px;padding: 10px">
        <table class="table">
            <caption style="font-size: 15px; text-align: left">
                <h3>Score</h3>
            </caption>
            <tr>
                <th>Chinese</th>
                <th>Math</th>
                <th>English</th>
                <th>Integration</th>
                <th>Total</th>
            </tr>
            <tbody>
            <tr>
                <td>{{scores.chinese}}</td>
                <td>{{scores.math}}</td>
                <td>{{scores.english}}</td>
                <td>{{scores.integration}}</td>
                <td>{{scores.chinese+scores.math+scores.english+scores.integration}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div v-if="isSubmit" style="background-color: cyan;margin: 10px;padding: 10px">
        <h3>Aspirations</h3>
        <span v-for="aspiration in aspirations">
            <h4>Aspiration {{aspiration.id}}</h4>
            University:{{aspiration.university}}<br/>
            Major:{{aspiration.major}}
        </span>
    </div>
</form>
<form id="university" style="background-color: lightgoldenrodyellow;margin: 20px;padding: 20px">
    <div v-if="isRelease===1" style="background-color: gold;margin: 10px;padding: 10px">
        <h2>Aspiration Selection</h2>
        <label v-for="index in [1,2,3,4,5]">
            <h4>Aspiration {{ index }}</h4>
            Please choose a university and a major:
            <select v-model="aspirations[index-1]" style="width: 200px">
                <option :value=undefined>Please choose your aspiration</option>
                <option v-for="university in universities" :value="university">{{university.id}}</option>
            </select>
            <select v-if="aspirations[index-1]" v-model="majors[index-1]" style="width: 200px">
                <option :selected="true" :value=undefined>Please choose your major</option>
                <option v-for="major in aspirations[index-1].majors" :value="major.name">{{major.name}}</option>
            </select><br/>
            <span v-if="aspirations[index-1]">Your first aspiration is {{aspirations[index-1].name}} {{majors[index-1]}}</span>
        </label>
        <input class="button" type="submit" value="Save" v-on:click="save">
        <input class="button" type="submit" value="Submit" v-on:click="submit">
    </div>
    <table>
        <caption style="font-size: 15px; text-align: left">
        <h2>University List</h2>
    </caption>
        <tr><td style="align-content: ">
    <table class="table">
        <tr>
            <th style="width: 100px">ID code</th>
            <th style="width: 400px">Name</th>
            <th style="width: 100px">Province</th>
            <th style="width: 100px">City</th>
        </tr>
        <tbody>
        <tr v-for="university in universities" v-on:click="chosenUniversity=university">
            <td>{{university.id}}</td>
            <td>{{university.name}}</td>
            <td>{{university.province}}</td>
            <td>{{university.city}}</td>
        </tr>
        </tbody>
    </table>
    </td><td v-if="chosenUniversity">
        <div style="margin: 10px;padding: 10px;background-color: gold">
        <h4>Majors of {{chosenUniversity.name}}</h4>
        <li v-for="major in chosenUniversity.majors">
            {{ major.name }}
        </li></div>
    </td></tr></table>
</form>
<script>
    let info= new Vue({
        el:'#info',
        data:{
            name:"Li Hua",
            id:"000000000000000000",
            isGrade:true,
            scores: {
                chinese:150,
                math:150,
                english:150,
                integration:300
            },
            isSubmit:true,
            aspirations:[
                {id:1,university:"Tsinghua University",major:"physics"},
                {id:2,university:"Peking University",major:"literature"},
                {id:3,university:"Southern University of Science and Technology",major: "computer science and technology"},
                {id:4,university:undefined,major: undefined},
                {id:5,aspiration5:undefined,major: undefined}
            ]
        }
    });
    let university= new Vue({
        el:'#university',
        data:{
            isRelease:1,
            aspirations:[{id:10001,name:"Peking University",province:null,city:"Beijing",
                majors:[
                    {name: "physics"},
                    {name: "mathematics"},
                    {name: "chemistry"},
                    {name: "biology"},
                    {name: "computer science"}
                ]}],
            majors:["computer science"],
            universities:[
                {id:10001,name:"Peking University",province:null,city:"Beijing",
                    majors:[
                        {name: "physics"},
                        {name: "mathematics"},
                        {name: "chemistry"},
                        {name: "biology"},
                        {name: "computer science"}
                    ]},
                {id:10002,name:"Renmin University of China",province:null,city:"Beijing",
                    majors:[
                        {name: "physics"},
                        {name: "mathematics"},
                        {name: "chemistry"},
                        {name: "biology"},
                        {name: "computer science"}
                    ]},
                {id:10003,name:"Tsinghua University",province:null,city:"Beijing",
                    majors:[
                        {name: "physics"},
                        {name: "mathematics"},
                        {name: "chemistry"},
                        {name: "biology"},
                        {name: "computer science"}
                    ]},
                {id:14325,name:"Southern University of Science and Technology",province:"Guangdong",city:"Shenzhen",
                    majors:[
                        {name: "physics"},
                        {name: "mathematics"},
                        {name: "chemistry"},
                        {name: "biology"},
                        {name: "computer science"}
                    ]}
            ],
            chosenUniversity:undefined
        },
        methods:{
            save:function () {
                alert("Save successfully!")
            },
            submit:function () {
                if(confirm("Sure to submit your aspirations?\nWhich will seal and couldn't be changed anymore.")===true){
                    this.isRelease=2;
                }
            }
        }
    });
</script>
<style>
    table.table {
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:#333333;
        border-width: 1px;
        border-color: #a9c6c9;
        border-collapse: collapse;
    //margin: 0 auto;
    }
    table.table th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
    }
    table.table td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
    }
    .table tr:nth-child(odd){
        background-color:#d4e3e5;
    }
    .table tr:nth-child(even){
        background-color:#c3dde0;
    }
    .button{
        background-color: darkorange;
        color: #fff;
        font-weight: 400;
        font-size: .86em;
        border-radius: .3rem;
        width: 100px;
        height: 30px;
        margin: 10px;
    }
</style>
</body>
</html>